//Profile page
.page-information {
  background-color: $main_color;
  position: relative;
  #information {
    height: 100%;

    .information__deep-title {
      color: #ededed;
      font-size: 70px;
      position: absolute;
      left: 0;
      top: 0;
      user-select: none;
      z-index: 1;
    }
    [class*="information__section"] {
      width: 100%;
      position: relative;
      z-index: 2;
      &.information__section-1 {
        .information__title-1,
        .information__title-2,
        .information__title-3 {
          letter-spacing: 1px;
          position: relative;
          z-index: 2;
          font-size: 30px;
          font-size: 2.5rem;
        }
        .information__title-1 {
          font-size: 24px;
          color: $color_white_1;
          font-weight: 400;
        }
        .information__title-3 {
          color: #ccb78f;
          font-weight: 900;
        }
      }
      &.information__section-2 {
        font-family: "Poppins", Arial, sans-serif;
        border-top: 1px solid #eee;
      }
    }

    .information__desc {
      color: #7b7b7b;
      margin: 8px 0;
    }
    .information__sign {
      color: #7b7b7b;
      font-family: "Herr Von Muellerhoff", cursive;
      font-size: 55px;
    }
  }
}
